.container {
  padding: 14px  32px 15px;
  margin-right: 24px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #828FA3;

}

.container p {
  display: inline;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
}

.container:hover {
    background: #ABA4FF;
    color: #FFF;
}

.container:active {
    background: #635FC7;
    color: #FFF

}

