.container {
  padding: 14px  32px 15px;
  margin-right: 24px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: #828FA3;
  display: block;
  text-decoration: none;

}

.container p {
  display: inline;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
}

.container:hover {
    background: var(--main-purple-hover);
    color: var(--white);
}

.container:hover p {
  color: var(--white)
}

.container.dark:hover p, .container.container.dark:hover svg {
  color: var(--main-purple);
}

.container.dark:hover {
  background: var(--white);

}


.container.active {
    background: #635FC7;
    color: #FFF
}

.container.active p, .container.active svg {
  color: var(--white);
}
