.page {
  margin-top: 11.375vh;
  margin-left: 21vw;
  width: fit-content;
  position: relative;
  min-width: 79vw;
  height: 88.625vh;
}

.page.no_side_bar {
  margin-left: 0;
}

.display_sidebar {
  position: fixed;
  left: 0;
  bottom: 32px;
  width: 56px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-purple);
  border-radius: 0px 100px 100px 0px;

}

@media only screen and (max-width: 768px) {
  .page {
    /*width: 34vw*/
    /*height: 8vh*/
    margin-top: 8vh;
    margin-left: 34vw;
    min-width: 66vw;
    height: 92vh;
  }
}
