.container {
  width: 280px;
}

.column_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.column_title span {
  width: 15px;
  height: 15px;
  background-color: #49C4E5;
  display: block;
  margin-right: 12px;
  border-radius: 50%;
}

.column_title p {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.4000000953674316px;
  text-align: left;
  margin-block-end: 0;
  color: #828FA3;
}
